/*dashboard title */
.page-title {
    color: #3E5569;
}
/* end of dashboard title */

/* Dashboard cards settings */
.bgcyan {

    background-color: #27a9e3;
}

.bgdanger {

    background-color: #da542e;
}

.bgwarning {

    background-color: #ffb848;
}

.bgsuccess {
    background-color: #28b779;
}

.bginfo {
    background-color: #2255a4;
}


/* card animation 
/* cards */
.card-hover {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
  }
  
  .card-hover:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
  }
  /* end of cards */
/* Dashboard cards settings */