{% extends 'base.html'%}

{% load staticfiles %}





{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="container-fluid">
<h4 class="page-title mt-5">Dashboard</h4>
<div class="row">

<!---Cards section--->
 <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                              <h5 class="text-muted">Total Active Tasks</h5>
                            </div>
                            <div class="box bgcyan text-center">
                            
                                
                                <div class="text-center text-secondary">
                                  
                                  <h2 class="mr-1 mt-2 mb-2 text-white"><i class="fas fa-layer-group fa-1x text-light"></i> {{ active_tasks }}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                 <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                              <h5 class="text-muted">Tasks Over Due</h5>
                            </div>
                            <div class="box bgdanger text-center">
                            
                               
                                <div class="text-center bgdanger">
                                  <h5 class="text-light"></h5>
                                  <h2 class="mr-1 mt-2 mb-2  text-white"><i class="fas fa-hourglass-half fa-1x text-light"></i> {{ due_task }}</h2>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>    
                    
                     <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                            <h5 class="text-muted">Tasks Puased  </h5>
                            </div>
                            <div class="box bgwarning text-center">
                               
                                <h2 class="mr-1 mb-2 mt-2 text-white"> <i class="far fa-pause-circle fa-1x text-light"></i> {{ task_paused }}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                            <h5 class="text-muted">Tasks Completed</h5>
                            </div>
                            <div class="box bgsuccess text-center">
                                
                                <h2 class="mr-1 mb-2 mt-2 text-white"><i class="fas fa-tasks fa-1x text-light"></i> {{ task_completed }}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                               <div class="card-header">
                                <h5 class="text-muted">Tasks Not Started</h5>
                                </div>
                            <div class="box bginfo text-center">
                                
                                <h2 class="mr-1 mt-2 mb-2 text-white"><i class="fas fa-play-circle fa-1x text-light"></i> {{task_started}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    
                    <!-- Column -->
<!-----End Of Card Section------>

  
</div>
  
</div>

 
{% endblock content %}