{% extends 'base.html'%}

{% load staticfiles %}





{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="container-fluid">
<h4 class="page-title mt-5">Dashboard</h4>
<div class="row">

<!---Cards section--->
 <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2 mb-4">
                        <div class="card card-hover">
                        <div class="card-header">
                              <h5 class="text-muted">Total Active Tasks</h5>
                            </div>
                            <div class="box bgcyan text-center">
                            
                                
                                <div class="text-center text-secondary">
                                  
                                  <h2 class="mr-1 mt-2 mb-2 text-white"><i class="fas fa-layer-group fa-1x text-light"></i> {{ active_tasks }}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                 <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                              <h5 class="text-muted">Tasks Over Due</h5>
                            </div>
                            <div class="box bgdanger text-center">
                            
                               
                                <div class="text-center bgdanger">
                                  <h5 class="text-light"></h5>
                                  <h2 class="mr-1 mt-2 mb-2  text-white"><i class="fas fa-hourglass-half fa-1x text-light"></i> {{ due_task }}</h2>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>    
                    
                     <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                            <h5 class="text-muted">Tasks Puased  </h5>
                            </div>
                            <div class="box bgwarning text-center">
                               
                                <h2 class="mr-1 mb-2 mt-2 text-white"> <i class="far fa-pause-circle fa-1x text-light"></i> {{ task_paused }}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                        <div class="card-header">
                            <h5 class="text-muted">Tasks Completed</h5>
                            </div>
                            <div class="box bgsuccess text-center">
                                
                                <h2 class="mr-1 mb-2 mt-2 text-white"><i class="fas fa-tasks fa-1x text-light"></i> {{ task_completed }}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3 mt-2">
                        <div class="card card-hover">
                               <div class="card-header">
                                <h5 class="text-muted">Tasks Not Started</h5>
                                </div>
                            <div class="box bginfo text-center">
                                
                                <h2 class="mr-1 mt-2 mb-2 text-white"><i class="fas fa-play-circle fa-1x text-light"></i> {{task_started}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    
                    <!-- Column -->
<!-----End Of Card Section------>



  
</div>
  
</div>
<!-----Dashboard part 2-->

<!------Start recent tasks----->
<div class="row" id="dashsecond">
        <div class="col-lg-6"> 
       <div class="card">
         <div class="card-body">
             <h4 class="page-title card-title">Recent Tasks</h4>
         </div>
         <div class="comment-widgets scrollable">
             <!-- Comment Row -->
             <!---Recent Tasks-->
      <div class="accordion" id="accordionExample">
    <!--/*start django code*/ -->
    {% if recent_task %}
                        
    
    {% for rtasks in recent_task %}
    
        
         <div class="card m-b-0">
             <div class="card-header" id="heading-{{ rtasks.id }}">
               <h5 class="mb-0">
                 <a class="artasks" data-toggle="collapse" data-target="#collapse-{{ rtasks.id }}" aria-expanded="true" aria-controls="collapse-{{ rtasks.id }}">
                     <i class="m-r-5 fas fa-th-list" aria-hidden="true"></i>
                     <span>Accordion Example 1 {{ rtasks.id }}</span>
                 </a>
               </h5>
             </div>
             <div id="collapse-{{ rtasks.id }}" class="collapse show" aria-labelledby="heading-{{ rtasks.id }}" data-parent="#accordionExample">
               <div class="card-body">
              
                                 <span class="todo-desc">Lorem Ipsum is {{rtasks.created_at}}simply dummy text of the printing and typesetting industry.</span> <span class="badge badge-pill badge-danger float-right">{{ current_time|timeuntil:rtasks.created_at }}</span>
              
                     <ul class="list-inline">
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/1.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steave"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/2.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jessica"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/3.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Priyanka"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/4.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Selina"></li>
                         </ul>
                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                 <div class="d-flex no-block align-items-center m-t-25">
                         <span>53% Impressions</span>
                         <div class="ml-auto">
                             <span>785</span>
                         </div>
                     </div>
                     <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 53%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                <div class="comment-footer mt-3">
                         <span class="text-muted float-right">April 14, 2016</span> 
                         <button type="button" class="btn btn-cyan btn-sm">View</button>
                         <button type="button" class="btn btn-success btn-sm">Publish</button>
                         <button type="button" class="btn btn-danger btn-sm">Delete</button>
                     </div>     
               </div>
             </div>
         </div>
        {% endfor %}    
          {% endif %} 
         <div class="card m-b-0">
             <div class="card-header" id="headingTwo">
               <h5 class="mb-0">
                 <a class="artasks" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <i class="m-r-5 fas fa-th-list" aria-hidden="true"></i>
                     <span>Accordion Example 2</span>
                 </a>
               </h5>
             </div>
             <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
               <div class="card-body">
              
                                 <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span> <span class="badge badge-pill badge-danger float-right">Today</span>
              
                     <ul class="list-inline">
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/1.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steave"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/2.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jessica"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/3.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Priyanka"></li>
                             <li class="assignee list-inline-item"><img class="rounded-circle" width="40" src="../../assets/images/users/4.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Selina"></li>
                         </ul>
                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                 <div class="d-flex no-block align-items-center m-t-25">
                         <span>53% Impressions</span>
                         <div class="ml-auto">
                             <span>785</span>
                         </div>
                     </div>
                     <div class="progress">
                         <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 53%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                <div class="comment-footer mt-3">
                         <span class="text-muted float-right">April 14, 2016</span> 
                         <button type="button" class="btn btn-cyan btn-sm">View</button>
                         <button type="button" class="btn btn-success btn-sm">Publish</button>
                         <button type="button" class="btn btn-danger btn-sm">Delete</button>
                     </div>     
               </div>
             </div>
         </div>
         <div class="card m-b-0 border-top">
             <div class="card-header" id="headingThree">
               <h5 class="mb-0">
                 <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                     <span>Accordion Example 3</span>
                 </a>
               </h5>
             </div>
             <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
               <div class="card-body">
                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
               </div>
             </div>
         </div>
     </div>
   
             <!---End OF Recent Tasks objecta-->
             
         </div>
     </div>
    <!---End OF Recent Tasks DIV-->
   </div>
   </div>
   

 
{% endblock content %}