{% extends 'base.html'%}

{% load static from static %}


{% block content %}
<!--loader css-->
 <link href="{% static 'css/loader_page.css' %}" rel="stylesheet">

<body >
<div class="row">
  <div class="container">

<div class="loader"></div>


<div class="animate-bottom">

  <h2>Task Create Successfully! <i class="fas fa-check"></i></h2>
  
  <p>Tour new Task just Created..</p>

</div>
</div>
</div>

<script>
        var timer = setTimeout(function() {
            window.location='{% url 'index' %}'
        }, 2990);
    </script>


  {% endblock content %}