{% extends 'base.html'%}

{% load static from static %}


{% block content %}
<div class="conatainer">

    <div class="col text-center py-5">
        <form action="" class="" method="POST">
            {% csrf_token %}
    {% if form.errors %}

    <h3 class="mt-3 text-left">Update Task </h3>
  <hr>
            <p class="text-muted text-left">Update Itom task</p>

        </form>

    <!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}

{{form.as_p}}
        
    </div>

</div>
{% endblock content %}