{% extends 'base.html'%}

{% load static from static %}


{% block content %}
<div class="conatainer">

    <div class="col text-center py-5">
        <form action="" class="" method="POST">
		<h3 class="mt-3 text-left">Update Task </h3>
  <hr>
            <p class="text-muted text-left">Update Itom task</p>

            {% csrf_token %}
    {% if form.errors %}

    
        </form>

    <!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}

<div class="input-group mt-3 mb-3 mr-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-book-medical"></i></span>
        </div>
        {{ form.task_title}}
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-pen"></i></span>
        </div>
        {{form.global_task_info}}
      </div>

     <!---date time picker-->
     <h6 class="text-left">Task Due Date</h6>
     <div class="input-group date mb-3 col-3">
      <div class="input-group-append">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
      {{ form.due_date }}
      
    </div> 
    <!--end of date time picker-->
     <!---Task Location-->
     
    <div class="input-group mb-3 mt-3 col-8">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
        
        
          {{form.task_location}}
        
      </div>
    </div>

   <!--End Of Task Location-->
    <!---user assign-->
     <h6 class="text-left">Assign  Task to IT member</h6>
    <div class="input-group mb-3 mt-3 col-8">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user-tie"></i></div>
        
        
          {{form.global_task_assign}}
        
      </div>
    </div>

   <!--End Of User Assign-->
   <h6 class="text-left">Set Task Status</h6>
   <div class="input-group mb-3 mt-3 col-4">
   <div class="input-group-prepend">
   
        <div class="input-group-text"><i class="far fa-caret-square-right"></i></div>
    </div>
      {{form.task_status}}
      
    </div>
    
    <div class="col text-left">
    <button type="submit" value="Save" class="btn btn-primary btn-lg text-white mt-2"><span><i class="fas fa-database"></i></span> Create Task</button>
  </div>
        
    </div>

</div>
{% endblock content %}