{% extends 'base.html' %}
{% load static from static %}
<{% block content %}




    
<div class="container">
    <div class="col text-center py-5">







<form action="" method="POST">

  <h3 class="mt-3 text-left">Update Task</h3>
  <hr>
            <p class="text-muted text-left">Update Youre ITOM Task</p>
    {% csrf_token %}
    {% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			<ul>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}
<!--End Of Error form handaling-->
    
    <div class="col text-left">
    <button type="submit" value="Save" class="btn btn-primary btn-lg text-white mt-2"><span><i class="fas fa-database"></i></span> Create Task</button>
  </div>
  
</form>
</div>
</div>

{% endblock content %}
